/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-white: #e8e6e3;
    --main-grey: #323537;
    --body-grey: #181a1b;
    --main-purple: #764AF1;
    --main-purple-light: #9772FB;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    place-items: center;
    font-family: 'Rubik', sans-serif;
    background-color: var(--body-grey);
    color: var(--main-white);
}

button {
    font-family: inherit;
    cursor: pointer;
    color: var(--main-white);
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.btn-primary {
    border: none;
    background-color: var(--main-purple);
    transition-duration: 0.2s;
}

.btn-primary:hover {
    background-color: var(--main-purple-light);
}

.btn-secondary {
    border: 2px solid var(--main-purple);
    /* color: var(--main-purple); */
    background-color: var(--main-grey);
    transition-duration: 0.2s;
}

.btn-secondary:hover {
    background-color: var(--main-purple);
    color: var(--main-white)
}

/* SETTINGS STYLES */
.game-settings {
    background-color: var(--main-grey);
    padding: 2rem;
    border-radius: 0.25rem;
}

.game-settings h1 {
    text-align: center;
}

.game-settings p {
    text-align: center;
}

.game-settings input {
    font-size: 1rem;
    padding: 0.2rem;
    background-color: var(--main-white);
    border: none;
    border-radius: 0.25rem;
}

.name-pick {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.name-pick label {
    font-size: 0.8rem;
}

.name-pick > div {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
}

#startGame {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

/* GAME STYLES */
.game-container {
    display: none;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: 5rem;
    border-radius: 1rem;
}

.game-container > button {
    align-self: center;
}

.player-box {
    background-color: var(--main-grey);
    padding: 1rem;
    text-align: center;
    min-width: 150px;
    border-radius: 0.25rem;
}

.player-box h2 {
    margin-bottom: 0.5rem;
}

/* GAMEBOARD STYLES */
.gameboard-info-container {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.gameboard-container {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 0.5rem;
}

.current-player-highlight {
    outline: 4px solid var(--main-white);
}

.marker {
    font-size: 3.5rem;
    font-weight: 500;
}

.tile {
    background-color: var(--main-grey);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.announcement-box-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.65);
}

.announcement-box {
    /* https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element */
    margin: 15% auto;
    width: 20%;
    padding: 1.5rem;
    background-color: var(--main-grey);
    border-radius: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.announcement-box button:nth-of-type(1) {
    margin-bottom: 1rem;
}

.announcement-box p {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}