/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    place-items: center;
    font-family: 'Rubik', sans-serif;
}

/* SETTINGS STYLES */



/* GAME STYLES */
.game-container {
    display: none;
    /* display: flex; */
    gap: 1rem;
    justify-content: center;
}

.player1-box,
.player2-box {
    background-color: aquamarine;
}

/* GAMEBOARD STYLES */
.gameboard-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.gameboard-container {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 0.5rem;
}

.current-player-highlight {
    outline: 2px solid red;
}

.marker {
    font-size: 3.5rem;
    font-weight: 500;
}

.tile {
    background-color: lightgrey;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}